.header
  %ul.header__list
    %li.header__list__item
      = link_to "一覧", root_path
    - @categories.each do |category|
      %li.header__list__item
        = link_to category.name, category_path(category)
    %li.header__list__item
      = link_to "ログアウト", destroy_user_session_path, method: :delete