.header
  %ul.header__list
    %li.header__list__item
      重要
    %li.header__list__item
      医療情報
    %li.header__list__item
      業務連絡
    %li.header__list__item
      気付き
    %li.header__list__item
      当日
    %li.header__list__item
      テスト1
    %li.header__list__item
      テスト2