.information
  .information__top
    .information__top__time
      2020/07/16
    .information__top__title
      〜様食欲不振について
  .information__category
    .information__category__item
      重要
    .information__category__item
      医療的情報
    .information__category__item
      業務連絡
  .information__text
    = information.content
  .information__image
    - information.images.each do |image|
      = image_tag "#{image.url}", class: 'information__image__item' if image.present?