@mixin option {
  padding: 5px 15px;
  border: 1px solid $color-border;
  text-align: center;
  background-color: #fff;
}

// メディアクエリー
@mixin mq($breakpoint: sp) {

  @media #{map-get($breakpoints, $breakpoint)} {

    @content;
  }
}